a:link
{
    text-decoration: none;
    font-size:10pt;
    color: navy;
}

a:visited
{
    text-decoration: none;
    font-size:10pt;
    color: navy;
}

a#button
{
    font-size:20pt;
    color: rgb(200, 200, 200);
    font-weight: bold;
    float:left;
    margin-left: 10px;
    margin-right:10px;
}

body
{
    font-family:Open Sans, sans-serif;
    font-size:10pt;
    margin:0px;
}

input[type=button], input [type=submit], button
{
    border-color: transparent;
    background-color: rgb(220, 220, 220);
    color: rgb(100, 100, 100);
    font-family: Open Sans, sans-serif;
    font-size:8pt;
    border-style: solid;
    clear:none;
}

input[type=text]
{
    font-family: Open Sans, sans-serif;
    font-size:10pt;
    border-style: solid;
    border-width:1px;
    padding: 2px;
}

.topRow {
    top:0px;
    left:0px;
    clear: none;
    width: 20%;
}

.websiteCaption {
    font-size:2.0em;
    color: rgb(200, 200, 200);
    font-weight: bold;
    float:left;
    padding: 2px;
    width: 100%;
}

.unread {
    font-weight: bold;  
}
.read {
    font-weight: normal;
}

#blurb p {
    margin: 0px;
}
.content {
    width: 97%;
    margin:0px auto;
}

.feedsBar {
    clear:left;
    float:left;
    
    max-width:250px;
    width:18%;
    margin:0px auto;
    left: 0px;
    border-right:1px solid #EEEEEE;
    overflow:auto;
    height: 93%;
}

.urlAddBar {                                                                                               
    max-width:530px;
    width:90%;
}

.feedsListContainer {
    float:left;
    margin:10px;
    line-height:1.5;
    max-width:250px;
    width:95%;
}

.spinner { 
    padding-left:50%; 
    padding-top:25%
}

.feed {
    white-space:nowrap;
    clear: none;
}

.title {
    max-width: 210px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    clear:none;
    float:left;
    margin: 2px;
}

.unreadItemNumberContainer {
    font-size:8pt;
    color:#777777;
    clear:none;
    float:right;
}

.feedItemsContainer {
    overflow:auto;
    max-width:960px;
    width:80%;
    margin-left:23%;
    clear:none;
}

.recentItemPair {
    margin-bottom:15px;
}

.feedItemTitle {
    font-family:Open Sans, sans-serif;
    font-size:1.5em;
    margin-top:10px;
}

.feedTitle {
    font-family:Open Sans, sans-serif; 
    font-size: 1.5em;
    margin-bottom:15px;
    margin-top:20px;
}

.contentsText {
    line-height: 1.5;
}

.moreContentsBar {
    margin:5px;
    background:#EEEEEE;
}

