<!DOCTYPE html>
<html ng-app ng-cloak>
  <title> Tomtom </title>
  <meta charset="UTF-8" />
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href='css/tomtom.css' rel='stylesheet' type='text/css' />
    <link rel="shortcut icon" href="favicon.ico" />
    <script src="scripts/angular.min.js" /></script>
    <script src="scripts/tomtom.js" /></script>
  </head>
  <body ng-controller="TomTomCtrl">
    <div ng-show="import_triggered" style="position:absolute; top:25%; left:25%; background:lightgray; width:350px; height:100px">
      <input type="button" style="float:right" ng-click="importDone()" value="X"></input>
      <iframe style="margin-top:10px;" width="100%" height="30%" src="import.html" frameborder="0"></iframe>  
    </div>
    <div class="topRow">
      <div class="topBar">
        <div class="websiteCaption"> tomtom </div>
        <div class="urlAddBar">
          <input id="url" style="width:75%;" type="text" placeholder="Enter feed URL" ng-model="new_url" />
          <input type="button" ng-click="addUrl();" value="Add" />
          &nbsp; 
          <input type="button" ng-click="importFeeds();" value="Import" />
        </div>
      </div>
    </div>
    <div class="content">
      <div class="feedsBar">
        <div class="feedsListContainer">
          <div ng-show="loading_feeds || adding_feed" class="spinner">
            <img src="images/ajax-loader.gif" />
          </div>
          <div class="feed" ng-hide="loading_feeds || adding_feed" ng-repeat="feed in feeds" >
            <div class="title">
              <a  href="#" ng-click="loadFeed(feed.Id);" ng-bind-html-unsafe="feed.Title" ng-class="{'unread': feed.UnreadItemsCount > 0, 'read': feed.UnreadItemsCount == 0}"> </a> 
            </div> 
            <!--<div class="unreadItemNumberContainer"> ({{feed.UnreadItemsCount}}) </div>-->
          </div>
        </div>
      </div>
      <div class="feedItemsContainer">
        <div ng-show="loading_feed_items" class="spinner">
          <img src="images/ajax-loader.gif" />
        </div>
        <div ng-show="current_feed_id==''">
          <a href="#" ng-repeat="pair in pairs" class="recentItemPair" style="color:black">
            <div ng-click="loadFeed(pair.Feed.Id)">
              <div ng-bind-html-unsafe="pair.Feed.Title" class="feedTitle" style="color:#AAAAAA"></div> 
              <div ng-bind-html-unsafe="pair.FeedItem.Title" class="feedItemTitle" style="margin-left:20px;"></div>
              <div id="blurb" ng-bind-html-unsafe="pair.FeedItem.Blurb" style="margin-left:20px;"></div>
            </div>
          </div>
        </a>
        <div  ng-repeat="item in items" style="margin:bottom:10px;">
          <a id="{{item.Id}}" href="{{item.Url}}">
            <div class="feedItemTitle" when-scrolled="moreOfFeed()" ng-bind-html-unsafe="item.Title"></div>
          </a>
          <div class="contentsText"  ng-bind-html-unsafe="item.Contents"></div>
        </div>
        <div ng-show="more_to_fetch" class="moreContentsBar">
          <input type="button" ng-click="moreOfFeed();" value="Show more" style="margin-left:45%;" />
        </div>
      </div>
    </div>
  </body>
</html>
